@model Diplom.Domain.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form id="profileForm">
                    <h5 class="card-title">Ваши данные</h5>
                    <input asp-for="Login" hidden="hidden"/>
                    <div class="mb-3">
                        <label class="form-label text-black-50">ФИО</label>
                        <input type="text" class="form-control" asp-for="PatientName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Возраст</label>
                        <input type="text" class="form-control" asp-for="Age">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Группа крови</label>
                        <input type="text" class="form-control" asp-for="BloodType">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Аллергии</label>
                        <input type="text" class="form-control" asp-for="Allergies">
                    </div>

                    <div class="card-buttons-group">
                        <button class='btn btn-primary' id='saveProfile'>Сохранить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body" style="overflow-y: auto; max-height: 300px;">
                <h5 class="card-title">Медицинские отчеты</h5>
                @if (Model.MedicalReports != null && Model.MedicalReports.Any())
                {
                    @foreach (var report in Model.MedicalReports)
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6 class="card-title">@report.Conclusion</h6>
                                <p class="card-text">@report.Description</p>
                                <p class="card-text">@report.Recommendation</p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>Нет доступных медицинских отчетов</p>
                }
                <a class="btn btn-primary" asp-controller="Profile" asp-action="AddMedReport" asp-route-login="@Model.Login">
                    Добавить запись
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary" asp-controller="Profile" asp-action="PatientRegistration">
                    Добавить пациента
                </a>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>     
        $('#saveProfile').on('click', function (e) {
            e.preventDefault();
            const data = $('#profileForm').serialize()
            $.ajax({
                url: '@Url.Action("Save", "Profile")',
                type: 'POST',
                data: data,
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (data) {
                    Swal.fire({
                        title: 'Информация',
                        text: 'Ошибка валидации',
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            });
        });
    </script>
}


