@model Diplom.Domain.ViewModels.ProfileAccessViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ваши данные</h5>
                @if (Model.Access == true)
                {
                    <div class="mb-3">
                        <label class="form-label text-black-50">ФИО</label>
                        <input type="text" class="form-control" value="@Model.PatientName" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Возраст</label>
                        <input type="text" class="form-control" asp-for="Age" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Группа крови</label>
                        <input type="text" class="form-control" asp-for="BloodType" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Аллергии</label>
                        <input type="text" class="form-control" asp-for="Allergies" readonly>
                    </div>
                }
                else
                {
                    <div class="mb-3">
                        <label class="form-label text-black-50">ФИО</label>
                        <input type="text" class="form-control" value="@Model.PatientName" readonly>
                    </div>
                }
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body" style="overflow-y: auto; max-height: 300px;">
                <h5 class="card-title">Медицинские отчеты</h5>
                <div class="mb-3">
                    @if (Model.Access == true)
                    {
                        @if (Model.MedicalReports != null && Model.MedicalReports.Any())
                        {
                            @foreach (var report in Model.MedicalReports)
                            {
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h6 class="card-title">@report.Conclusion</h6>
                                        <p class="card-text">@report.Description</p>
                                        <p class="card-text">@report.Recommendation</p>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>Нет доступных медицинских отчетов</p>
                        }
                        <a class="btn btn-primary" asp-controller="Profile" asp-action="AddMedReport" asp-route-login="@Model.Login">
                            Добавить запись
                        </a>
                    }
                    else
                    {
                        <p>У вас нет доступа</p>
                    }
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary" id="accessRequest">Запросить доступ</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script>     
        $("#accessRequest").click(function(event){
            event.preventDefault(); 
            
            let dataToSend = {
                Initiator: "@User.Identity.Name",
                Addressee: "@Model.Login",
                Status: 0,
                Date: new Date().toISOString()
            };
            
            $.ajax({
                url: '@Url.Action("AccessRequest", "Profile")',
                method: "POST",
                data: dataToSend,
                success: function(response){
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function(data){
                    Swal.fire({
                        title: 'Информация',
                        text: 'Ошибка валидации',
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            });
        });
    </script>
}
